#container{
    
    display: grid;

    grid-template-rows:  auto auto auto auto auto;
    grid-template-columns:  auto auto auto auto auto;
 
    grid-template-areas: 
    "h   h      h    h      h"
    "e1  inr    e3   inc    e2"
    "e1  se1    e3   se2    e2"
    "e1  bt     bt   bt     e2"
    "p1  br     br   br     p2"
    "f   f      f    f      f";
    justify-items: center;
}

h1{
    grid-area: h;
    align-self: center;
    justify-self: center;
}

#player1{
    grid-area: p1;
    /* align-self: center; */
    justify-self: end;
}

#player2{
    grid-area: p2;
    /* align-self: center; */
    justify-self: start;

}

#winDiv{
    position: absolute;
    margin: 150px;
}

#win{
    opacity: 90%;
    color: darkorange;
    font-size: 3em;
}

#countDown{
    position: absolute;
    margin: 190px;
    left: 225px;
    margin-right: 60px;
    opacity: 85%;
    color: darkorange;
    font-size: 8em;
}

#board{ 
    grid-area: br;
    display: grid;
    height: 45vw;
    width: 45vw;
    /* border: 5px solid lightgray; */
    margin: 10px;
}

.brick {
    background-color: #c02739;
    border: 1px solid black;
}

.path{
    display: grid;
    background-color: #192965;
    border: 1px solid black;
    justify-items: center;
    align-items: center;
}

#rowInputDiv{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-area: inr;
     margin: auto;
}

#colInputDiv{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-area: inc;
    margin: auto;
}

select{
    height: 25px;
}

input{
    height: 20px;
    width: 80px;
}

#generateBoard{
    grid-area: bt;
    margin: auto;
    align-self: center;
    justify-self: center;
    margin: 10px;
}

#player1-Options{
    display: grid;
    grid-template-rows:repeat(2, 1fr);
    grid-area: se1;
}

#selectPlayer1{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
}

#player2-Options{
    display: grid;
    grid-template-rows:repeat(2, 1fr);
    grid-area: se2;
}

#selectPlayer2{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
}

#comp1-OptionsDiv{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows:repeat(2, 1fr);
}

#comp2-OptionsDiv{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows:repeat(2, 1fr);
}


img{
    margin: 5px;
    grid-column: 1 /span 2;
    grid-row: 1 /span 2;
}

#generateBoard {
    padding: 10px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #ffcc00;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

#generateBoard:hover {
    background-color: #f8b400
}

#generateBoard:active {
    background-color: #f8b400;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

html {
    scroll-behavior: smooth;
}

#goldIcon{
    width: 15%;
    position: relative;
    left: 45%;
    margin: 15px;
}