
#board{ 
    display: grid;
    margin: auto;
    width: 80vw;
    height: 60vw;
    background-color: antiquewhite; 
    border: 5px solid antiquewhite;

}

.brick {
    background-color: brown;
    border: 1px solid black;
}

.path{
    display: grid;
    background-color: turquoise;
    border: 1px solid black;
    justify-items: center;
    align-items: center;
}

#rowInput{
    margin: auto;


}

#colInput{
    margin: auto;

}

#user1{

}

#user2{

}
