#container{
    
    display: grid;
    grid-template-rows: 6vw 4vw 4vw 10vw 60vw 6vw;
    grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
    grid-template-areas: 
    "h   h    h    h    h"
    "e1  inr  e3   inc  e2"
    "e1  bt   bt   bt   e2"
    "p1  win  win  win  p2"
    "br  br   br   br   br"
    "f   f    f    f    f";
    background-color: lightgray;
    /* grid-gap: 5px; */

}

h1{
    grid-area: h;
    align-self: center;
    justify-self: center;

}

#player1{
    grid-area: p1;
    align-self: center;
    justify-self: end;
}

#player2{
    grid-area: p2;
    align-self: center;
    align-self: center;
    justify-self: start;

}

#win{
    grid-area: win;
    justify-self: center;
}

#board{ 
    grid-area: br;
    display: grid;
    margin: auto;
    width: 80vw;
    height: 60vw;
    background-color: antiquewhite; 
    border: 5px solid antiquewhite;

}

.brick {
    background-color: brown;
    border: 1px solid black;
}

.path{
    display: grid;
    background-color: turquoise;
    border: 1px solid black;
    justify-items: center;
    align-items: center;
}

#rowInput{
    grid-area: inr;
    margin: auto;


}

#colInput{
    grid-area: inc;
    margin: auto;

}


#generateBoard{
    grid-area: bt;
    margin: auto;
    align-self: center;
    justify-self: center;

}
